In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("C:/Users/aditya/Desktop/2024/HireBolt.AI/Appliciants.csv")

In [3]:
data.head()

,Unnamed: 0,email_id,phone_number,summary
0,0,['gbp.bhaskar@gmail.com'],['8056248707'],"[[""Bhaskar G is an IT professional with 13 yea..."
1,1,[None],[None],[['The document is a list of references for va...
2,2,['amrit12june90@gmail.com'],['(+91)\n814\n351\n4822'],[['The document is a list of profiles from sev...
3,3,['adityabhatt19058568031.stats@rla.du.ac.in'],['+91 7 303041453'],[['Aditya Bhatt is a student with a PG Diploma...
4,4,['richabudhraja8@gmail.com'],['9090302071'],[['Richa Kaur is a business analyst with a bac...

In [4]:
data.drop("Unnamed: 0",axis=1,inplace=True)

In [5]:
data.head()

,email_id,phone_number,summary
0,['gbp.bhaskar@gmail.com'],['8056248707'],"[[""Bhaskar G is an IT professional with 13 yea..."
1,[None],[None],[['The document is a list of references for va...
2,['amrit12june90@gmail.com'],['(+91)\n814\n351\n4822'],[['The document is a list of profiles from sev...
3,['adityabhatt19058568031.stats@rla.du.ac.in'],['+91 7 303041453'],[['Aditya Bhatt is a student with a PG Diploma...
4,['richabudhraja8@gmail.com'],['9090302071'],[['Richa Kaur is a business analyst with a bac...

In [27]:
data['summary'] = data['summary'].apply(lambda x: x[3:-3] if type(x) is str and len(x) >= 6 else x)

In [28]:
data.head()

,email_id,phone_number,summary
0,['gbp.bhaskar@gmail.com'],['8056248707'],Bhaskar G is an IT professional with 13 years ...
1,[None],[None],The document is a list of references for vario...
2,['amrit12june90@gmail.com'],['(+91)\n814\n351\n4822'],The document is a list of profiles from severa...
3,['adityabhatt19058568031.stats@rla.du.ac.in'],['+91 7 303041453'],Aditya Bhatt is a student with a PG Diploma in...
4,['richabudhraja8@gmail.com'],['9090302071'],Richa Kaur is a business analyst with a backgr...